<footer class="d-flex flex-row  justify-content-around p-5 bg-black border-bottom shadow-sm">
  <div class="col"><a class="navbar-brand " routerLink="/"></a>
    <div id="logo">Leaf
      <img ngSrc="./assets/images/leaf_loom_icon.png" class="mb-3" alt="leaf and loom logo" height="60" width="60">
      Loom
    </div>
    <p class="footer-text pb-4">Crafing nature into your home</p>
    <p class="footer-text footer-contact">Email: leaf@loom.com</p>
    <p class="footer-text ">Phone: +41 79 123 45 67</p>
  </div>
  <div class="col"><a class="navbar-brand" routerLink="/"></a>
    <h3 class="footer-title text-uppercase pb-3">Help</h3>
    <div class="footer-text footer-contact">
      <p>Contact Us</p>
      <p>Shipping and Return</p>
      <p>Terms and Conditions</p>
      <p>Privacy Policy</p>
    </div>
  </div>
  <div class="col"><a class="navbar-brand" routerLink="/"></a>
    <h3 class="footer-title text-uppercase pb-3">More</h3>
    <div class="footer-text footer-contact">
      <p>About Us</p>
      <p>FAQ</p>
      <p>Imprint</p>
      <p>Offers for companies</p>
    </div>
  </div>
  <div class="col footer-text footer-social">
    <a class="navbar-brand" routerLink="/"></a>
    <p>Subscribe to our newsletter and we'll keep you up to date</p>
    <input type="text" class=" bg-transparent link-underline border-0 border-bottom border-white text-white my-4"
           placeholder="E-MAIL*" style="color: grey; width: 18rem;">
    <div class="d-flex justify-content-end mt-1">
      <i class="fa fa-brands fa-facebook-square fa-2x me-3"></i>
      <i class="fa fa-brands fa-instagram fa-2x me-3"></i>
      <i class="fa fa-brands fa-youtube-play fa-2x me-3"></i>
      <i class="fa fa-brands fa-linkedin fa-2x me-3"></i>
    </div>
  </div>

</footer>
