<div *ngIf="product" class="row">
  <div class="col-6">
    <img [src]="imgUrl" class="img-fluid w-100" alt="{{product.name}}">
  </div>

  <div class="col-5">
    <div class="mt-5">
      <h1>{{product.name}}</h1>
      <p class="product-price ">{{product.price | currency: 'CHF '}}</p>
    </div>

    <div class="mt-4 product-title"><span class="w-100">Shipping or Pickup</span>
      <div class="d-flex align-items-center justify-content-between mt-3">
        <button class="bg-black text-white text-uppercase py-1 px-5" style="width:45%">Add to Cart</button>
        <button class="bg-black text-white text-uppercase py-1 px-5" style="width:45%">Pick Up</button>
      </div>
    </div>

    <div class="mt-4">
      <span class="w-100 product-title">Pot Color: Leaf & Loom Basic</span>
      <div class="d-flex justify-content-evenly align-items-center mt-3">
        <div *ngFor="let pot of pots" class="pot-colors" [style.background-color]="'#' + pot.value" style="cursor: pointer" (click)="onSelectPot(pot.color)"></div>
      </div>
    </div>

    <div class="mt-4">
      <span class="w-100 product-title">Quantity</span>
      <div class="d-flex justify-content-start align-items-center mt-3">
        <button class="bg-black text-white square-button">+</button>
        <div class="bg-black text-white square-button d-flex align-items-center justify-content-center">1</div>
        <button class="bg-black text-white square-button">—</button>
      </div>
    </div>

    <div class="mt-5">
      <button class="bg-black text-white text-uppercase w-100 py-1 px-5">Add to Cart</button>
    </div>

    <div class="mt-5">
      <h3 class="product-description-title">Description</h3>
      <div class="product-description">{{product.description}}</div>
    </div>

    <div class="mt-3">
      <h3 class="product-description-title">Cultivation and Nurturing</h3>
      <div class="product-description">{{product.care}}</div>
    </div>

    <div class="mt-3">
      <h3 class="product-description-title">Package Contents</h3>
      <ul>
        <li>plant</li>
        <li>Leaf & Loom painted color pot</li>
        <li>dehydrated soil</li>
        <li>plant care instructions</li>
      </ul>
    </div>
  </div>

  <div class="col-11 my-5">
    <h2 class="text-center my-4 product-title">You may also be interested in...</h2>
    <div class="row row-cols-4 g-3">
      <div class="col" *ngFor="let product of randomProducts">
        <div *ngIf="product" routerLink="/shop/{{product.id}}">
          <div class="image-container">
            <img class="product-image product-card" src="{{product.images}}" alt="{{product.name}}" data-holder-rendered="true">
            <div class="image-overlay">
              <div>
                <p class="card-title">{{product.name}}</p>
                <p class="card-text"> {{product.price | currency: 'CHF '}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  </div>

</div>
