.square-button {
  width: 50px;
  height: 40px;
}
.product-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(94, 141, 131, 1)
}
.pot-colors{
  width: 40px;
  height: 40px;
}
.product-description-title{
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(94, 141, 131, 1)
}

.product-title {
  color: rgba(15, 68, 76, 1);
  font-weight: 600;

}
