<div *ngIf="product" class="row">
  <div class="col-6">
    <img [src]="product.images" class="img-fluid w-100" alt="{{product.name}}">
  </div>

  <div class="col-5">
    <div class="mt-5">
      <h2>{{product.name}}</h2>
      <p class="product-price ">{{product.price | currency: 'CHF '}}</p>
    </div>

    <div class="mt-4 product-title"><span class="w-100">Shipping or Pickup</span>
      <div class="d-flex align-items-center justify-content-between mt-3">
        <button class="bg-black text-white text-uppercase py-1 px-5" style="width:45%">Add to Cart</button>
        <button class="bg-black text-white text-uppercase py-1 px-5" style="width:45%">Pick Up</button>
      </div>
    </div>

    <div class="mt-4">
      <span class="w-100 product-title">Pot Color: Leaf & Loom Basic</span>
      <div class="d-flex justify-content-evenly align-items-center mt-3">
        <div class="pot-colors" style="background-color: rgba(69, 69, 69, 1);"></div>
        <div class="pot-colors" style="background-color: rgba(71, 43, 28, 1);"></div>
        <div class="pot-colors" style="background-color: rgba(117, 79, 115, 1);"></div>
        <div class="pot-colors" style="background-color: rgba(178, 176, 169, 1);"></div>
      </div>
    </div>

    <div class="mt-4">
      <span class="w-100 product-title">Quantity</span>
      <div class="d-flex justify-content-start align-items-center mt-3">
        <button class="bg-black text-white square-button">+</button>
        <div class="bg-black text-white square-button d-flex align-items-center justify-content-center">1</div>
        <button class="bg-black text-white square-button">—</button>
      </div>
    </div>

    <div class="mt-5">
      <button class="bg-black text-white text-uppercase w-100 py-1 px-5">Add to Cart</button>
    </div>

    <div class="mt-5">
      <h3 class="product-description-title">Description</h3>
      <div class="product-description">{{product.description}}</div>
    </div>

    <div class="mt-3">
      <h3 class="product-description-title">Cultivation and Nurturing</h3>
      <div class="product-description">{{product.description}}</div>
    </div>

    <div class="mt-3">
      <h3 class="product-description-title">Package Contents</h3>
      <ul>
        <li>plant</li>
        <li>Leaf & Loom painted color pot</li>
        <li>dehydrated soil</li>
        <li>plant care instructions</li>
      </ul>
    </div>

  </div>


</div>
