.contact-title {
  font-weight: 600;
  margin-top: 2em;
}

.contact-subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(94, 141, 131, 1)
}

.contact-input {
  line-height: 1.2;
}

.custom-checkbox-label {
  display: flex;
  align-items: center;
}

.mastery-container {
  margin-top: 8em;
  margin-bottom: 6em;
}

.imprint-description {
  text-align: justify;
  text-justify: distribute;
}
