<div class="container">
  <h1 class="text-center contact text-uppercase mt-5">Contact Details</h1>
  <div class="row mt-4">
    <div class="col-3 mx-auto text-center">
      <div class="my-4">
        <i class="fa fa-phone-square fa-4x py-2"></i>
        <h3 class="contact-subtitle">+41 56 123 45 67</h3>
      </div>
    </div>
    <div class="col-3 mx-auto text-center">
      <div class="my-4">
        <i class="fa fa-envelope fa-4x py-2"></i>
        <h3 class="contact-subtitle">support@leafloom.ch</h3>
      </div>
    </div>
    <div class="col-3 mx-auto text-center">
      <div class="my-4">
        <i class="fa fa-location-arrow fa-4x py-2"></i>
        <h3 class="contact-subtitle">location</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <h1 class="text-center contact text-uppercase mt-5">Send us a message</h1>
    <p class="text-center mt-4">Just complete the form and we will respond to you as soon as we can</p>
  </div>
  <div class="row mx-auto">
    <div class="col-6">
      <div class=" text-center contact-input">
        <input type="text" class="bg-transparent link-underline border-0 border-bottom border-black w-75 my-4"
               placeholder="First name*">
      </div>
      <div class=" text-center contact-input">
        <input type="text" class="bg-transparent link-underline border-0 border-bottom border-black w-75 my-4"
               placeholder="Street*">
      </div>
      <div class=" text-center contact-input">
        <input type="text" class="bg-transparent link-underline border-0 border-bottom border-black w-75 my-4"
               placeholder="E-Mail*">
      </div>
    </div>
    <div class="col-6">
      <div class=" text-center contact-input">
        <input type="text" class="bg-transparent link-underline border-0 border-bottom border-black w-75 my-4"
               placeholder="Last name*">
      </div>
      <div class=" text-center contact-input">
        <input type="text" class="bg-transparent link-underline border-0 border-bottom border-black w-75 my-4"
               placeholder="Zip Code / City*">
      </div>
      <div class=" text-center contact-input">
        <input type="text" class="bg-transparent link-underline border-0 border-bottom border-black w-75 my-4"
               placeholder="Phone">
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="form-floating">
      <div class=" w-100 d-flex  justify-content-center"><textarea id="comment-section"
                                                                   class="form-control bg-transparent w-75"
                                                                   placeholder="Your Message"
                                                                   style="height: 100px"></textarea></div>
    </div>
  </div>
  <div>
    <div class="col d-flex justify-content-center my-5">
      <div class="form-check">
        <input class="form-check-input mt-2 bg-dark" type="checkbox" checked id="newsletter-option">
        <label class="form-check-label mx-5" for="newsletter-option">
          Yes, I’d like to subscribe to Leaf & Loom newsletter an receive information about the products and useful tips
          for plant care
        </label>
        <button class="bg-black text-white text-uppercase py-1 px-5 ms-3" >Send</button>
      </div>
    </div>
  </div>
</div>
<div class="row mastery-container">
  <div class="col position-relative">
    <img [src]="plantMasteryBackground.src" alt="plant-mastery" width="100%" class="img-fluid filter-image"
         style="max-height: 600px;">
    <div class="position-absolute top-50 start-50 translate-middle p-3 text-center">
      <h4 style="color: rgba(94, 141, 131, 1); font-size: 1.5rem;">OUR COMMITMENT</h4>
      <h2 class="text-white display-4">EMPOWER PLANT LOVERS EVERYWHERE</h2>
      <p class="text-white mt-4">We envision a world where everyone can confidently cultivate and care for their own
        personal jungle of plants. Our mission is to provide not only the highest quality plant selection and products,
        but also the knowledge and resources necessary to become a self-assured plant enthusiast. With our help, anyone
        can transform their home or workspace into a thriving oasis of greenery, bringing joy and vitality to their
        everyday lives.</p>
      <button class="btn btn-outline-light mt-4"
              style="background-color: transparent; border-color: white; color: white;">BECOME A PLANT MASTER
      </button>
    </div>
  </div>
</div>
