<header class="d-flex flex-row align-items-center justify-content-between p-3 px-5 mb-4 bg-black border-bottom shadow-sm">
  <a class="navbar-brand " id="logo" routerLink="/">
    Leaf<img ngSrc="./assets/images/leaf_loom_icon.png" class="mb-3" alt="leaf and loom logo" height="60" width="60">Loom
  </a>
  <nav class="my-2">
    <a class="nav-element h3 p-4 fw-light text-uppercase text-white text-decoration-none" routerLink="/mastery" routerLinkActive="active">Plant Mastery</a>
    <a class="nav-element h3 p-4 fw-light text-uppercase text-white text-decoration-none " routerLink="/shop" routerLinkActive="active">Shop</a>
    <a class="nav-element h3 p-4 fw-light text-uppercase text-white text-decoration-none" routerLink="/contact" routerLinkActive="active">Contact</a>
  </nav>
  <div class="d-flex align-items-center">
    <a class="position-relative">
      <i class="fa fa-shopping-cart fa-2x me-5 text-white"></i>
      <div class="cart-no">5</div>
    </a>
    <a class="btn btn-outline-light me-2" href="#">Sign Up</a>
    <a class="btn btn-outline-light me-2" href="#">Log In</a>
  </div>

</header>
