<div class="container">
  <h1 class="text-center contact text-uppercase mt-5">Imprint</h1>
  <div class="row mt-5 d-flex justify-content-center">
    <div class="col-5">
      <p class="text-end fw-bold small-line-height imprint-description-black">leaf-loom.ch</p>
      <p class="text-end pb-5">is an offer from</p>
      <p class="text-end mt-5 pt-5 imprint-description-turquoise">Samantha Lee</p>
      <p class="text-end fw-bold small-line-height pt-2">Commercial register number</p>
      <p class="text-end pb-5">of our company</p>
      <p class="text-end pt-5 imprint-description-turquoise">CHE-12-456-789 MWST</p>
      <p class="text-end fw-bold small-line-height pt-2">Questions</p>
      <p class="text-end small-line-height">about orders payment</p>
      <p class="text-end small-line-height pb-5">or plant care</p>
    </div>
    <div class="col-2 d-flex justify-content-center" style="width: 50px">
      <div class="vertical-line"></div>
    </div>
    <div class="col-5">
      <p class="small-line-height pt-5 imprint-description-turquoise">Leaf & Loom Ag</p>
      <p class="small-line-height imprint-description-turquoise">John Doe</p>
      <p class="small-line-height imprint-description-turquoise">Doestreet</p>
      <p class="small-line-height imprint-description-turquoise">1324 Doeville</p>
      <p class="fw-bold py-3">CEO of Leaf & Loom</p>
      <p style="padding-top: 4rem;">CH-079-1-234567-8</p>
      <p class="fw-bold small-line-height pt-3">VAT-ID number</p>
      <p>of Leaf and Loom AG is</p>
      <p  class="small-line-height imprint-description-turquoise" style="padding-top: 8rem;">contact us by e-mail</p>
      <p  class="small-line-height imprint-description-turquoise">support@leafandloom.ch</p>
      <p class="small-line-height pt-3 imprint-description-turquoise">or by phone</p>
      <p  class="small-line-height pb-5 imprint-description-turquoise">+41 (0) 56 123 45 67</p>
      <p></p>
    </div>
  </div>
  <div class="row text-center" style="margin-top: 5rem">
    <h4>External Links and Copyright Information</h4>
    <div class="col-12 col-md-8 mx-auto mt-2">
      Our website may contain external links to other websites. Please note that we have no control over the content of these websites and cannot assume liability for them.

      The operator of any linked website is responsible for the accuracy and content of their information. We strive to comply with all copyright laws in the use of graphics, audio, video, and text on our website. Any trademarks or brands that appear on our website belong to their respective owners and are subject to trademark law.

      The copyright for any content produced by our website belongs solely to us. Reproduction or use of this content without our express permission is strictly prohibited.
    </div>
  </div>
</div>
<div class="row mastery-container">
  <div class="col position-relative">
    <img [src]="plantMasteryBackground.src" alt="plant-mastery" width="100%" class="img-fluid filter-image"
         style="max-height: 600px;">
    <div class="position-absolute top-50 start-50 translate-middle p-3 text-center">
      <h4 style="color: rgba(94, 141, 131, 1); font-size: 1.5rem;">OUR COMMITMENT</h4>
      <h2 class="text-white display-4">EMPOWER PLANT LOVERS EVERYWHERE</h2>
      <p class="text-white mt-4">We envision a world where everyone can confidently cultivate and care for their own
        personal jungle of plants. Our mission is to provide not only the highest quality plant selection and products,
        but also the knowledge and resources necessary to become a self-assured plant enthusiast. With our help, anyone
        can transform their home or workspace into a thriving oasis of greenery, bringing joy and vitality to their
        everyday lives.</p>
      <button class="btn btn-outline-light mt-4"
              style="background-color: transparent; border-color: white; color: white;">BECOME A PLANT MASTER
      </button>
    </div>
  </div>
</div>
