<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
<div class="container my-5">
  <div class="row" *ngIf="types.length > 0">
    <section class="col">
      <div class="d-flex justify-content-between align-items-center pb-2">
        <div class="d-flex mt-2">
          <header class="px-2 my-auto">
            <span>Sort</span>
          </header>
          <select class="d-flex form-select my-auto  sort-select w-100" (change)="onSortSelected($event)">
            <option *ngFor="let sort of sortOptions" [value]="sort.value">{{sort.name}}</option>
          </select>
        </div>
        <div class="d-flex mt-2">
          <header class="px-2 my-auto">
            <span>Transform</span>
          </header>
          <select class="d-flex form-select my-auto sort-select w-100" [(ngModel)]="imageTransformation" (change)="onImageTransformationSelected()">
            <option value="">None</option>
            <option value="thumbnail">Thumbnail</option>
            <option value="scale-width-15">Scale 15%</option>
            <option value="scale-width-25">Scale 25%</option>
            <option value="quality-50">Quality 50</option>
            <option value="quality-auto-best">Quality Auto Best</option>
            <option value="quality-auto-echo">Quality Auto Echo</option>
            <option value="quality-low">Quality Low</option>
            <option value="jpg">JPG Format</option>
            <option value="png">PNG Format</option>
            <option value="gif">GIF Format</option>
            <option value="watermark">Watermark</option>
            <option value="metadata">Metadata</option>
            <option value="crop">Crop</option>
            <option value="blur">Blur</option>
            <option value="oli-painting">Oil Painting</option>
            <option value="sepia">Sepia</option>
            <option value="cartoon">Cartoon</option>
            <option value="vectorized">Vectorized</option>
            <option value="black-white">Black and White</option>
            <option value="reshape">Reshape</option>
          </select>
        </div>
        <div class="d-flex mt-2">
          <header class="px-2 my-auto mb-auto">
            <span>Categories</span>
          </header>
          <select class="d-flex form-select my-auto sort-select w-100" (change)="onTypeSelected($event)">
            <option *ngFor="let type of types" [value]="type.id">{{type.name}}</option>
          </select>
        </div>
        <div class="d-flex mt-2">
          <div class="d-flex my-auto">
            <input type="text" placeholder="Search" class="form-control me-2 bg-transparent btn-outline-secondary" #search (keyup.enter)="onSearch()">
            <button class="btn btn-outline-dark mx-2" (click)="onSearch()">Search</button>
            <button class="btn btn-outline-dark mx-2" (click)="onReset()">Reset</button>
          </div>
        </div>
      </div>
      <app-paging-header
        [pageSize]="shopParams.pageSize"
        [pageNumber]="shopParams.pageNumber"
        [totalCount]="totalCount"
        class="d-flex justify-content-center pt-4">
      </app-paging-header>
      <div class="row row-cols-3 g-3">
        <div class="col" *ngFor="let product of products">
          <app-product-item [product]="product"></app-product-item>
        </div>
      </div>
    </section>
  </div>
  <div class="d-flex justify-content-center pt-4" *ngIf="totalCount > 0">
    <app-pager
      [totalCount]="totalCount"
      [pageSize]="shopParams.pageSize"
      (pageChanged)="onPageChanged($event)">
    </app-pager>
  </div>
</div>
