.carousel {
  width: 100%;
  margin-top: 0;
  overflow: hidden;
}

.carousel-inner {
  width: 100%;
}

.carousel-item img {
  width: 100%;
  max-height: 80vh; /* Adjust the maximum height as per your preference */
  object-fit: cover;
  transform: scale(1.1); /* Adjust the scaling factor as needed */
  margin-top: -10%; /* Adjust the negative margin as needed */
}
.home-title {
  font-weight: 600;
  margin-top: 2em;
}

.home-subtitle {
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(94, 141, 131, 1)
}


.image-container {
  position: relative;
  width: 80%;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
}

.product-image {
  width: 100%;
  object-fit: cover;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
}

.image-container:hover .product-image {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.card-title {
  font-weight: bold;
}

.card-text {
  border: 1px solid #fff;
  padding: 5px;
  width: 50%;
  margin-top: 5px;
}


.square-button {
  width: 50px;
  height: 40px;
}

.product-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(94, 141, 131, 1)
}

.product-description-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(94, 141, 131, 1)
}

.product-title {
  color: rgba(15, 68, 76, 1);
  font-weight: 600;
}

.image-container {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  width: 100%;
  height: 100%;

}

.product-image {
;
  object-fit: cover;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  -webkit-transition: filter 0.3s ease-in-out;
  transition: filter 0.3s ease-in-out;
}

.bundle-set-details {
  margin-top: 300px;
  margin-bottom: 200px;
}

.bundle-set-section{
  margin-top: 100px;
}

.imprint-description {
  text-align: justify;
  text-justify: distribute;
}
