.drag-overlay {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 1;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.preview {
  width: 200px;
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, -50%);
}
