<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" *ngFor="let item of teamGalleryPictures">
      <img [src]="item.src" alt="team gallery">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <div class=" row my-5 mx-auto">
    <div class="col-6 p-4">
      <h2 class="story-title text-uppercase">Our Story</h2>
      Puneet Sabharwal and Bryana Sortino, co-founders of Leaf and Loom, met at a housewarming party in Brooklyn where
      they bonded over their mutual love of plants. They quickly discovered that they shared a frustration with the lack
      of accessible resources for beginner plant enthusiasts.
      <div class="read-more-link">
        <a class="link-dark no-underline" style="cursor:pointer;">> read more</a>
      </div>
    </div>

    <div class="col-6 p-4">
      <img [src]="ourBosses.src" alt="leaf-and-loom-story" class="img-fluid">
    </div>
  </div>
  <div class="row my-5">
    <h2 class="story-title text-uppercase text-center">Our Team</h2>
    <div class=" row mt-5 mx-auto">
      <div class="col-6 px-4 pb-4" *ngFor="let member of teamMembers">
        <img [src]="member.src" alt="{{member.name}}" class="img-fluid">
        <p class="fw-semibold small-line-height" [style.color]="'#' + member.color">{{member.name}}</p>
        <p>{{member.role}}</p>
        <p>{{member.description}}</p>
      </div>
    </div>
  </div>
</div>
<div class="row my-5">
  <div class="col position-relative">
    <img [src]="plantMasteryBackground.src" alt="plant-mastery" width="100%" class="img-fluid filter-image"
         style="max-height: 600px;">
    <div class="position-absolute top-50 start-50 translate-middle p-3 text-center">
      <h4 style="color: rgba(94, 141, 131, 1); font-size: 1.5rem;">OUR COMMITMENT</h4>
      <h2 class="text-white display-4">EMPOWER PLANT LOVERS EVERYWHERE</h2>
      <p class="text-white mt-4">We envision a world where everyone can confidently cultivate and care for their own
        personal jungle of plants. Our mission is to provide not only the highest quality plant selection and products,
        but also the knowledge and resources necessary to become a self-assured plant enthusiast. With our help, anyone
        can transform their home or workspace into a thriving oasis of greenery, bringing joy and vitality to their
        everyday lives.</p>
      <button class="btn btn-outline-light mt-4"
              style="background-color: transparent; border-color: white; color: white;">BECOME A PLANT MASTER
      </button>
    </div>
  </div>
</div>

